<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreapivetta.blu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LightBaseTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/BlueAppTheme" />
        <activity android:name=".twitter.TwitterOAuthActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.TweetActivity"
            android:label="@string/title_activity_tweet"
            android:parentActivityName=".activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.NotificationsActivity"
            android:label="@string/notifications"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_empty"
            android:parentActivityName=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.NewTweetActivity"
            android:label="@string/title_activity_new_tweet">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewTweetQuoteActivity"
            android:label="@string/title_activity_new_tweet" />
        <activity
            android:name=".activities.HashtagActivity"
            android:label="@string/title_empty">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.andreapivetta.blu.hashtag" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ImageActivity"
            android:label="@string/title_empty"
            android:theme="@style/ImageActivityTheme" />
        <activity
            android:name=".activities.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andreapivetta.blu.activities.SettingsActivity" />
        </activity>
        <activity
            android:name=".activities.ConversationsListActivity"
            android:label="@string/title_activity_conversations_list"
            android:parentActivityName=".activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andreapivetta.blu.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.ConversationActivity"
            android:label="@string/title_empty"
            android:parentActivityName=".activities.ConversationsListActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andreapivetta.blu.activities.ConversationsListActivity" />
        </activity>
        <activity
            android:name=".activities.UserActivity"
            android:label="@string/title_empty">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.andreapivetta.blu.user" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.VideoActivity"
            android:label="@string/title_empty"
            android:theme="@style/ImageActivityTheme" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" />

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name=".receivers.FollowingAlarmReceiver"
            android:enabled="true" />

        <service
            android:name=".services.BasicNotificationService"
            android:exported="false" />
        <service
            android:name=".services.CheckInteractionsService"
            android:exported="false" />
        <service
            android:name=".services.CheckFollowersService"
            android:exported="false" />
        <service
            android:name=".services.CheckMentionsService"
            android:exported="false" />
        <service
            android:name=".services.PopulateDatabasesService"
            android:exported="false" />
        <service
            android:name=".services.CheckMessageService"
            android:exported="false" />
        <service
            android:name=".services.CheckFollowingService"
            android:exported="false" />
        <service
            android:name=".services.StreamNotificationService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
